body {
	padding: 20px;
    font-family: Verdana,Helvetica,Arial,Clean,sans-serif;
    font-size: 13px;
    line-height: 1.385;
    color: #333;
}


.valigned{
	margin-top: 25px;
}

.topborder{
	border-top: solid grey 1px;
}

.bottomborder{
	border-bottom: solid grey 1px;
	margin-bottom: 5px;
}

.expTopAlign{
padding-top: 25px;
}

.divider{
	background-color: red;
}

.ksq-header{
	background-color: #FFEBB6;/* #FAE196;*/
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
    padding: 3px;
    border-radius: 3px;
    padding: 3px;
}

.proj-chart-header{
	background-color: #ceedb1;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
    padding: 3px;
    border-radius: 3px;
    padding: 3px;
}

.proposed-exp-header{
	background-color: #CFEDFB; /*#D5E9F7;*/
	padding-bottom: 5px;
	font-weight: bold;
}


div.header-nibr {
    min-width: 250px;
    margin-top: 0;
}

.header-nibr {
    margin: 10px 10px 0;
}

div.header-leftNav {
    position: relative;
    float: left;
    width: 75%;
    border-bottom: 6px solid #EC8026;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.header-app {
    float: left!important;
}

a.header-name {
    display: inline;
    font-family: NewsGothic;
    font-size: 1.538em;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.02em;
    color: #EC8026;
    text-decoration: none;
    cursor: pointer;
    -webkit-margin-before: .67em;
    -webkit-margin-after: .67em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

div.header-identity {
    float: right!important;
    padding-top: 6px;
}

div.header-rightNav {
    position: relative;
    float: right;
    width: 24%;
  /*  padding-top: 6px; */
    border-bottom: 6px solid #FCAF17;
}

div.header-getHelp {
    float: right!important;
}

#peoplesearchresult{
	width: 250px;
}

.colorProj0{
	background-color: white;
}

.colorProj1{
	background-color: #E0E2E4;
}

.proj-date-container{
	background-color: #CFEDFB;
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 3px;
    border-radius: 3px;
}
.proj-descr-container{
    padding: 3px;
    border-radius: 3px;
    border: solid 1px #CFEDFB;
    margin-top: 5px;
	margin-bottom: 5px;
}
.proj-fup-header{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	padding: 5px;
	width: 150px;
}

/* TRAFFIC LIGHTS*/
.traffic-light input[type=radio] {
  -webkit-appearance: none;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 50%;
  border: 3px solid #d5d5d5;
  width: 30px;
  height: 30px;
  vertical-align: text-top;
  padding: 0;
  margin: 5px;
}
.traffic-light input[type=radio]:checked:after {
  content:"\00a0";
  display:block;
  position:relative;
  left:1px;
  top:1px;
  height:22px;
  width:22px;
  -webkit-border-radius:50%;
}
.traffic-light label { clear: both; height: 40px; cursor: pointer; }
.traffic-light input { float: left; }
.traffic-light div { float: left; margin-left: 10px; }
.traffic-light .green:checked:after { background: #50b848; }
.traffic-light .green { color: #50b848; }
.traffic-light .amber:checked:after { background: #f38134; }
.traffic-light .amber { color: #f38134; }
.traffic-light .red:checked:after { background: #e4212e; }
.traffic-light .red { color: #e4212e; }

 