<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" align="right">
    		<button type="button" class="btn btn-primary" style="margin-top: 17px;" ng-click="goTo('/TCOProjectTracker/#/experiments/new')">New Project</button>
			<a target="blank;" class="btn btn-primary" style="margin-top: 17px;" href="https://share.nibr.novartis.net/onctm/clinops/_layouts/15/WopiFrame.aspx?sourcedoc=/onctm/clinops/SiteAssets/Pages/Project-Tracker/OpEx_Project_Tracker_161201.pptx&action=default" role="button">Project Charter</a>	
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2"><b>Key words:&nbsp;</b>
				<input type="text" size="20" ng-model="globalSearch" class="form-control"/>
			</div>
<!-- 			<div class="col-md-1"><b>Project Code:&nbsp;</b> -->
<!-- 				<select class="form-control" ng-model="searchByProjectCode"> -->
<!--            			<option value="">Select Filter</option>  -->
<!--           			<option ng-repeat="pc in projectCodes" ng-value="pc.descr">{{pc.descr}}</option> -->
<!--           		</select>  -->
<!-- 			</div> -->
			<div class="col-md-1"><b>Project Type:&nbsp;</b>
				<select class="form-control" ng-model="searchByProjectType">
           			<option value="">Select Filter</option> 
          			<option ng-repeat="pt in types" ng-value="pt.descr">{{pt.descr}}</option>
          		</select> 
			</div>
			<div class="col-md-1"><b>Project Phase:&nbsp;</b>
				<select class="form-control" ng-model="searchByPhase">
           			<option value="">Select Filter</option> 
          			<option ng-repeat="phase in phases" ng-value="phase.descr">{{phase.descr}}</option>
          		</select> 
			</div>
			<div class="col-md-1"><b>Priority:&nbsp;</b>
				<select class="form-control" ng-model="searchByPriority">
           			<option value="">Select Filter</option> 
          			<option ng-repeat="priority in priorities" ng-value="priority.descr">{{priority.descr}}</option>
          		</select> 
			</div>
			<div class="col-md-1"><b>Status:&nbsp;</b>
				<select class="form-control" ng-model="searchByStatus">
           			<option value="">Select Filter</option> 
          			<option ng-repeat="st in status" ng-value="st.descr">{{st.descr}}</option>
          		</select> 
			</div>
			<div class="col-md-2"><b>Contact/Lead:&nbsp;</b>
				<input type="text" size="20" ng-model="contactSearch" class="form-control"/>
			</div>
			<div class="col-md-2"><b>Sponsor:&nbsp;</b>
				<input type="text" size="20" ng-model="sponsorSearch" class="form-control"/>
			</div>
			</div>
		</div>
	</div>
	<br>
		<div class="row">
		<div class="col-md-12">	
			<h4>Projects List</h4>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">	
			<div class="row" ng-repeat="proj in tcoProjectList 
			| filter: {code: searchByProjectCode, phase: searchByPhase, priority: searchByPriority, status: searchByStatus, type: searchByProjectType, contacts: contactSearch, sponsor: sponsorSearch} 
			| filter : globalSearch
			| orderBy: 'id'"  ng-init="projIndex = $index">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title traffic-light">
							<div class="col-md-3">
								<a data-toggle="collapse" data-target="#collapse{{projIndex}}" style="cursor: pointer;" title="click to open or close the details">{{proj.name}}</a>
							</div>
								
				      			<span style="margin-left: 30px;">
				      				<input class="green" name="{{proj.id}}_tl" type="radio" ng-model="proj.trafficlight" ng-value="0" style="float:none; vertical-align: middle;" disabled='disabled'>
				      				<input class="amber" name="{{proj.id}}_tl" type="radio" ng-model="proj.trafficlight" ng-value="1" style="float:none; vertical-align: middle;" disabled='disabled'>
				      				<input class="red" name="{{proj.id}}_tl" type="radio" ng-model="proj.trafficlight" ng-value="2" style="float:none; vertical-align: middle;" disabled='disabled'>
				      			</span>
				      			<span style="margin-right: 30px;"><button type="button" class="btn btn-primary" ng-click="goEdit(proj.id)">Update</button></span>				      			
							</div>
						</div>
						<div id="collapse{{projIndex}}" class="panel-collapse collapse"> <!-- to have the first experiment open, add: ng-class="{true: 'in', false: ''}[expIndex == 0] -->
							<div class="panel-body">
								<div class="row">
									<div class="col-md-2"><b>Name</b></div>
									<div class="col-md-1"><b>Code</b></div>
									<div class="col-md-1"><b>Type</b></div>
									<div class="col-md-1" ng-show="proj.subType != null"><b>Sub Type</b></div>
									<div class="col-md-1"><b>Phase</b></div>
									<div class="col-md-1"><b>Priority</b></div>
									<div class="col-md-1"><b>Status</b></div>
									<div class="col-md-1"><b>Contact/Lead</b></div>
									<div class="col-md-1"><b>Sponsor</b></div>
									<div class="col-md-2"></div>
								</div>
								<div class="row">
									<div class="col-md-2"><a ng-href="/TCOProjectTracker/#/experiments/view/{{proj.id}}" style="cursor: pointer;" title="Click to edit the project">{{proj.name}}</a></div>
									<div class="col-md-1"><a ng-href="/TCOProjectTracker/#/experiments/view/{{proj.id}}" style="cursor: pointer;" title="Click to edit the project">{{proj.code}}</a></div>
									<div class="col-md-1">{{proj.type}}</div>
									<div class="col-md-1" ng-show="proj.subType != null">{{proj.subType}}</div>
									<div class="col-md-1">{{proj.phase}}</div>
									<div class="col-md-1">{{proj.priority}}</div>
									<div class="col-md-1">{{proj.status}}</div>
									<div class="col-md-1">{{proj.contacts}}</div>
									<div class="col-md-1">{{proj.sponsor}}</div>
									<div class="col-md-2"></div>
								</div>
								<div class="ksq-header">
									<div class="row">
										<div class="col-md-2"><b>High level overview</b></div>
										<div class="col-md-10"><div ng-bind-html="proj.description"></div></div>
									</div>
								</div>
								
									<div class="row">
										<div class="col-md-2">
											<div class="proj-chart-header"><b>Project Chart</b></div>
										</div>
									</div>
								<div class="proj-chart">
									<div class="row" ng-show="proj.objectives != null">
										<div class="col-md-2"><b style="padding-left: 3px;">Objectives</b></div>
										<div class="col-md-10">
											<div class="proj-descr-container">
												<div ng-bind-html="proj.objectives"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-show="proj.deliverables != null">
										<div class="col-md-2"><b style="padding-left: 3px;">Deliverables</b></div>
										<div class="col-md-10">
											<div class="proj-descr-container">
												<div ng-bind-html="proj.deliverables"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-show="proj.timeline != null">
										<div class="col-md-2"><b style="padding-left: 3px;">Timeline</b></div>
										<div class="col-md-10">
											<div class="proj-descr-container">
												<div ng-bind-html="proj.timeline"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-show="proj.wgStructure != null">
										<div class="col-md-2"><b style="padding-left: 3px;">WG Structure</b></div>
										<div class="col-md-10">
											<div class="proj-descr-container">
												<div ng-bind-html="proj.wgStructure"></div>
											</div>
										</div>	
									</div>
								</div>
								
							    <div ng-repeat="fup in proj.projectupdates | orderBy: 'id'">
									<div class="row">
										<div class="col-md-2">
											<div class="proj-date-container">
												<b>Project update - [{{fup.date | date: 'yyyy-MM-dd'}}]</b>
											</div>
										</div>
									</div>
									<div class="row" ng-show="fup.description != null">	
										<div class="col-md-2">
											<div class="proj-fup-header" style="width: 100%;">Update Summary</div>
										</div>
										<div class="col-md-10">
											<div class="proj-descr-container">
												<div ng-bind-html="fup.description"></div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
								
	
	</div>

</div>