
<div class="container-fluid">

	<form role="form" ng-submit="createExperiment(true)" id="ecexForm"
		name="createForm">
		<div class="row">
			<div class="col-md-12" align="right">
					<button type="button" class="btn btn-primary valigned" ng-click="goTo('/TCOProjectTracker/#/experiments/view')">Home</button>
					<button type="submit" class="btn btn-success valigned">Save</button>
			</div>
		</div>
		<br> 
		<div class="row">
			<div class="col-md-4" ng-hide="mndAlert == null"><h3><font color="red">{{mndAlert}}</font></h3></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<label for="project">Project*</label> <input class="form-control"
					id="project" type="text" ng-model="proj.name">
			</div>
			<div class="col-md-1">
				<label for="project_code">Code*</label> <input class="form-control"
					id="project_code" type="text" ng-model="proj.code">
			</div>
			<div class="col-md-1">
				<label for="proj_type">Type</label> <select class="form-control"
					ng-model="proj.type" id="proj_type">
					<option ng-repeat="ty in types" ng-value="ty.descr">{{ty.descr}}</option>
				</select>
			</div>
			<div class="col-md-1" ng-show="proj.type == 'Document' || proj.type == 'QA/QC'">
				<label for="proj_subtype">Sub Type</label> 
				<select class="form-control" ng-model="proj.subType" id="proj_subtype">
     				 <option ng-repeat="st in subtypes | filter : {type: proj.type}: true" ng-value="st.descr">{{st.descr}}</option>
    			</select>
			</div>
			<div class="col-md-1">
				<label for="proj_phase">Phase</label> <select class="form-control"
					ng-model="proj.phase" id="proj_phase">
					<option ng-repeat="ph in phases" ng-value="ph.descr">{{ph.descr}}</option>
				</select>
			</div>
			<div class="col-md-1">
				<label for="proj_priority">Priority</label> <select
					class="form-control" ng-model="proj.priority" id="proj_priority">
					<option ng-repeat="priority in priorities"
						ng-value="priority.descr">{{priority.descr}}</option>
				</select>
			</div>
			<div class="col-md-1">
				<label for="proj_status">Status</label> <select class="form-control"
					ng-model="proj.status" id="proj_status">
					<option ng-repeat="st in status" ng-value="st.descr">{{st.descr}}</option>
				</select>
			</div>

			<div class="col-md-1">
				<label for="contacts">Contact/Lead</label> <input class="form-control"
					id="contacts" type="text" ng-model="proj.contacts">
			</div>
			
			<div class="col-md-1">
				<label for="sponsor">Sponsor</label> <input class="form-control"
					id="sponsor" type="text" ng-model="proj.sponsor">
			</div>

		</div>
		<br>
			<div class="row">
				<div class="col-md-12">
					<div class="ksq-header"><b>Project Overview</b></div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-3">
					<b>Traffic Light</b>
				</div>
				<div class="col-md-9">
					 <div class="traffic-light">
					      <input class="green" name="name1" type="radio" ng-model="proj.trafficlight" ng-value="0">
					      <input class="amber" name="name1" type="radio" ng-model="proj.trafficlight" ng-value="1">
					      <input class="red" name="name1" type="radio" ng-model="proj.trafficlight" ng-value="2">
					 </div>
				</div>
			</div>
			<br>
			<div class="row">

				<div class="col-md-1">
					<span style="padding-top: 15px;"><b>High level overview</b></span>
				</div>
				<div class="col-md-11">
					<input class="form-control" 1type="text" ng-model="proj.description" />
				</div>

			</div>
			
			<br>
			<div class="row">
			<div class="col-md-12">
				<div class="proj-chart-header" style="cursor: pointer;" title="Click to view Project Chart information" ng-click="showDiv = !showDiv">
					<b>Project Chart</b>
					<span ng-show="!showDiv"> - View</span>
					<span ng-show="showDiv"> - Close</span>
				</div>
			</div>
		</div>
		
		
			<div class="row">
				<div class="col-md-12" ng-show="showDiv">
					<div class="proj-fup-header">Objectives</div>
					<div text-angular ng-model="proj.objectives" ta-disabled='disabled'></div>
					<div class="proj-fup-header">Deliverables</div>
					<div text-angular ng-model="proj.deliverables" ta-disabled='disabled'></div>
					<div class="proj-fup-header">Timeline</div>
					<div text-angular ng-model="proj.timeline" ta-disabled='disabled'></div>
					<div class="proj-fup-header">WG Structure</div>
					<div text-angular ng-model="proj.wgStructure" ta-disabled='disabled'></div>
				</div> 
			</div>
			
		<br>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<tr style="background-color: #CFEDFB;">
						<td colspan="2"><b>Project updates</b></td>
					</tr>
					<tr ng-repeat="fup in proj.projectupdates"
						ng-init="fupIndex = $index">
						<td>
							<div class="row">
								<div class="col-md-1">
									<span style="padding-top: 15px;"><b>Date</b></span>
								</div>
								<div class="col-md-2">
									<input class="form-control" id="project_code" type="date"
										ng-model="fup.date" placeholder="MM/dd/yyyy" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="margin-top: 5px;">
									<div class="proj-fup-header">Update Summary</div>
									<div text-angular ng-model="fup.description" ta-disabled='disabled' id="fup{{fupIndex}}"></div>
									<br>
										<button type="button" class="btn btn-primary" ng-click="addKSQ()">New Update</button>
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalKSQdelete" ng-click="selectKSQ(fupIndex)">Delete</button>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>

	</form>
	* fields are mandatory
</div>


<!-- Modal -->
<div id="modalKSQdelete" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<p>
					Deleting a KSQ all the related Proposed Experiments will be deleted
					as well.<br>Do you want to proceed?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="deleteKSQ()"
					data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>

	</div>
</div>

<!-- Modals -->
<div id="modalPEdelete" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<p>The selected Proposed Experiment is going to be deleted. Do
					you want to proceed?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="deletePE()"
					data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>

	</div>
</div>

<div class="modal fade" role="dialog" id="peopleSearchDialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">List of
					people found</h4>
			</div>
			<div class="modal-body">list here</div>
		</div>
	</div>
</div>
